
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <link rel="icon" href="favicon.jpg">
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/ConferenceIndexCss.css" rel="stylesheet">
    <link href="assets/css/Common.css" rel="stylesheet">
    <link href="assets/css/conf-index.css" rel="stylesheet">
    <title>会议页面</title>
    <script type="text/javascript" src="assets/js/core/jquery.3.2.1.min.js"></script>
    <script type="text/javascript" src="assets/js/core/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/js/cookie.js"></script>
	<script src="assets/js/ConferenceIndex.js"></script>
    

</head>

<body onload="onload()">
    <nav></nav>
    <div class="content-main">
        <div class="nav-top-er">
            <div class="container container-l">
                <h1 class="nav-er-h1 nav-er-h1-l zh-cn">
                    <a href="#"> 2018（北航软院）小学期通宵动员大会 </a>
                </h1>
                <div class="row nav-er-d nav-er-d-l">
                    <p class="col-sm-12 col-md-8">
                        <span class="er-dst">
                            <i class="icon icon-rd"></i>
                            <span>2018-07-01</span>
                            <span class="time_difference" id="time_difference"></span>
                            <span class="time_zone"></span>
                        </span>
                        <span class="er-dst er-dstm" title="中国 ·  广东省  深圳市 ">
                            <i class="icon icon-rd icon-rd2"></i>
                            <span class="conf-position">中国 · 北京 北京市海淀区 </span>
                        </span>
                    </p>
                    <div class="col-sm-12 col-md-4 nav-er-p2" id="conf-detail-btn-group">
                        <a href="#" id="conf-favorite-btn" class="conf-favorite-btn favorite-no">
                            <i class="icon icon-vl icon-vl2" onclick="submitFavorite()"></i>收藏</a>
                    </div>
                </div>
            </div>
        </div>

        <!--会议导航-->
        <div class="nav-sper navbar-default" role="navigation">
            <div class="container2" role="navigation">
                <div class="find_nav">
                    <div class="find_nav_left">
                        <div class="find_nav_list alex_index_nav_list other_nav_list nav1 navbar-example" id="nav" style="overflow: hidden; visibility: visible;">
                            <ul class="nav1ul" style="list-style: none; margin: 0px; width: 480px; transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);">
                                <li class="cur" style="width: 120px; display: table-cell; vertical-align: top;"><a href="javascript:;" class="s1" data-to="go1">会议简介</a></li>
                            </ul>
                        </div>
                     </div>
                 </div>
            </div>
        </div>
        <!--正文-->

    <!--        
        <div class="container" style="height:900px;margin:10%">
            会议简介
            <div class="container-left" style="margin-left:15%;margin-right:15%;background: green">
                
                
            </div>
            <div class="container-right" style="margin-left:15%;margin-right:15"></div>
            
        </div>
    -->
        <div class="information">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 blog-main conf_page">
                        <!-- 内容开始 -->
                        <style>
                            .table p{
                                max-width:980px!important;
                                word-break: break-all;
                                line-height:20px;
                            }
                            .table{border:1px solid #ddd;}
                            .table td{border:1px solid #ddd;}
                            .conf-details-schedule .schedule ul{
                                list-style: disc;
                                padding-left: 40px;
                            }
                            .conf_live{
                                padding: 5px 10px;
                                border:1px solid #ddd;
                                border-radius: 4px;
                                font-size: 13px;
                                margin-left: 15px;
                            }
                            .live{
                                background: #f5faf8;
                                border-top: 1px solid #e0e0e0;
                            }
                            .media-h4{
                                max-width: 70%;
                            }
                            .media-div-p {
                                max-width: 70%;
                            }
                        </style>                        
                        <div class="information-l" id="go1" style="padding-bottom: 30px;">
                            <h1 class="inbt-h1"><span class="inbt-span">会议</span>简介 </h1>
                            <div class="description descript_table">
                                <p>This is 简介</p>
                            </div>
                        </div>
                        <div class="information-l" id="go4">
                                <h1 class="inbt-h1"><span class="inbt-span">征稿</span>信息</h1>
                            <div class="submission">
                                <h2 class="inbt-h2"><span>重要日期</span><span class="x_1span"><i class="icon icon-d_d"></i></span></h2>
                                <div class="submission-t" id="contributiondate">
                                    <p>初稿截稿日期：2018-06-29</p>                                                                                                                                                         
                                </div>
                                                                            
                                <div class="submission">
                                    <h2 class="inbt-h2"><span>征稿简介</span><span class="x_1span"><i class="icon icon-d_d"></i></span></h2>
                                    <div class="submission-t" id="contributionAbstract">
                                        <p>听众免费</p>
                                    </div>
                                </div>
                            </div>                                                                     
                        </div>
                    </div>
                    
                    <!-- 侧栏 -->
                    <div class="col-sm-3 blog-sidebar">
                        <div class="information-l pc_block">
                                <ul class="connr-ru connr-ru-l" id="connr-ru-l">
                                    <li class="connr-ru-l-l">
                                        <a href="#" style="background: #eeeeee;color: #ccc" class="shop_useabled a_disable">立即投稿</a>
                                    </li>						
                                    <li class="connr-ru-l-l">
                                        <a target="_blank" style="background: #eeeeee;color: #ccc" class="shop_useabled a_disable" href="#">注册参会</a>
                                    </li>
                                    <li class="connr-ru-l-l drop_menu">
                                        <a href="javascript:;" style="margin-bottom:0px;position:relative;">登录到会议<span class="caret"></span></a>
                                        <ul class="sub_menu" style="display: none;">
                                            <li>
                                                <a href="#" target="_blank">参会人/报告人/作者</a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank">审稿人</a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank">会议管理人员</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>

                        </div>
                        <!--联系我们-->
                        <div class="information-l" id="detail_contact">
                            <h2 class="connr-h2">
                                <span class="connr-und">联系我们</span>
                            </h2>
                            <div class="connrs-dul5 connrs-dul6-l">
                                <ul>
                                    <li class="">
                                        <i class="icon icon-rmm"></i>
                                        <span class="conf_contact" id="ownerName">钟金成</span>
                                    </li>										
                                    <li title="1438749412@qq.com">
                                        <i class="icon icon-rmm icon-rmm2"></i>
                                        <span class="conf_contact" id="ownerEmail">connorzhong@qq.com</span>
                                    </li>										
                                    <li>
                                        <i class="icon icon-rmm icon-rmm4"></i>
                                        <span class="conf_contact" id="ownerTEL">18508126686</span>
                                    </li>	
                                </ul>							
                            </div>
                        </div>
                        <div class="information-l">
                            <h2 class="connr-h2">
                                <span class="connr-und">主办单位</span>
                            </h2>
                                <ul class="connrs-dul3">
                                    <li id="ownerOrganization">北航软件学院</li>
                                </ul>
                         </div>				   	
                         <div class="information-l">
                            <h2 class="connr-h2">
                                <span class="connr-und">支持单位</span>
                            </h2>
                            <ul class="connrs-dul3">
                                <li id="supporter">快乐开发项目组</li>
                            </ul>
                     </div>	
                    </div>
                </div>
            </div>
        </div>
    </div>       
</body>

</html>
