<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="assets/images/icon.png">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/now-ui-kit.css">
    <link rel="stylesheet" type="text/css" href="assets/css/home.css">
    <link rel="stylesheet" type="text/css" href="assets/css/baseTest.css">
    <script src="assets/js/jquery.min.js"></script>

    <script src="assets/js/jquery.cookie.js" type="text/javascript"></script>
    <script src="assets/js/cookie.js" type="text/javascript"></script>
    <script src="assets/js/navibar.js" type="text/javascript"></script>
    <link rel="stylesheet" href="assets/css/shutter.css">
    <!--<script src="assets/js/common.js" type="text/javascript"></script>-->
    <link rel="stylesheet" type="text/css" href="assets/css/notification.css">
    <script src="assets/js/notification.js" type="text/javascript"></script>
    <title>学术会议网站</title>
</head>
<script type="text/javascript">
    function getNum(){
        console.log("into getNum")
        $.ajax({

            url:"/getConfernum",
            type:"GET",
            datatype: 'json',
            success:function (data) {
                console.log("in getConfernum")

                console.log(data["num"])
                $("#conferNum").html(data['num'])
            },
            error:function () {
                console.log("error when getConfernum")
            }
        })
    }
    $(document).ready(function() {
        getNum()
        $.ajax({
            url: "/getNewConference",
            type: "GET",
            datatype: 'json',
            success: function (data) {
                data = JSON.parse(data)
                $("#conferid").empty();
                length = data.length
                var conferdiv
                for (var i = 0;i<length;i++)
                {
                    id = data[i]["id"]
                    // console.log(id)
                    hrefstr = "/ConferenceIndex?id="+id;
                    // window.location.href ="/ConferenceIndex?id="+ data.result;
                    conferdiv=" <div class=\"confer shadow \" >\n" +
                        "                        <a href="+hrefstr+" ><h3>"+data[i]['conferenceName']+"</h3></a>\n" +
                        "                        <div class=\"c-info\">\n" +
                        "                            <span class=\"mr-2\"><img src=\"assets/images/loc.png\" class=\"loc\">"+data[i]['location']+"</span>\n" +
                        "                            <span><span><img src=\"assets/images/date.png\" class=\"i-date\">"+data[i]['startTime']+"</span> - <span>"+data[i]['endTime']+"</span></span></span>\n" +
                        "                            <p class=\"mb-0 pb-0\"><img src=\"assets/images/department.png\" class=\"i-date\">主办方 <span>"+data[i]['ownerOrganization']+"</span></p>\n" +
                        "                        </div>\n" +
                        "                    </div>"
                    $("#conferid").append(conferdiv);

                }

            },
            error: function () {
                alert("error in ready !")
            }
        })



    })
    function on_load()
    {
        load_notification();
        getName();
    }
</script>
<script>





</script>
<body onload="on_load()">

<nav class="new-nav" >
    <div class="container-nav">
        <div style="margin-right: 0.8rem">
            <a class="navbar-brand-new" style="font-size: large;color: white;text-decoration: none" href="/index">Conference</a>
        </div>
        <div>
            <ul class="topnav">
                <li class="icon">
                    <a href="javascript:void(0);" style="font-size:15px;" onclick="myFunction()">☰</a>
                </li>
                <li><a onclick="logout()">登出</a></li>
                <!--<li style="display: none" id="alarm"><a><img src="assets/images/alarm.png" height="16px" width="16px"></a></li>-->

                <li><a id="login" onclick="login()" style="text-transform: none">登录</a></li>

                <li><a id="myid" onclick="toMy()">我的页面</a></li>
                <li><a id="conference" onclick="submitConf()">发布会议</a></li>
                <li><a class="li-active-zzj" href="/index">主页</a></li>
                <li class="search-li">
                    <div class="nav-search">
                        <!--<form class="nav-form"  >-->
                            <div style="position: relative;">
                        <span >
                            <input type="text" class="search form-control-nav" placeholder="搜索会议" id="searchKey" name="searchKey">
                            <button class="cha" style="padding: 1px 6px;"  onclick="search1()">搜索</button>
                        </span>
                            </div>
                        <!--</form>-->
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div>
<!--<div class="banner-container">-->
<!--<div class="banner">-->
    <!--<div class="clear"></div>-->
    <!--<div class="container" >-->
        <!--<div class="row" style="position: relative">-->
            <!--<div class="col-xl-9 mx-auto">-->
            <!--<h1 class="mb-5" style="font-size: 3rem; color: #244683">学 术 会 议</h1>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="row" >-->
            <!--<button class="btn-lg btn-primary" onclick=submitConf()-->
                    <!--style="text-align: center; margin: 0 auto; background-color: #2b579a;font-size: 20px">-->
                <!--发布会议</button>-->
        <!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

    <div>
        <div class="shutter mt-0 mb-1">
            <div class="container" style=" z-index:2; position: absolute">
                <div class="row" >
                    <div class="col-xl-9 mx-auto mb-3 pt-2" >
                        <h1 class="mb-5 mt-3 " style="font-size: 3rem; color: #c8cac5;text-align: center">
                            学 术 会 议 </h1>
                    </div>
                </div>
                <div class="row" >
                    <button class="btn-lg btn-primary" onclick=submitConf()
                            style="text-align: center; margin: 0 auto; background-color: #2b579a;font-size: 20px">
                        发布会议</button>
                </div>
            </div>

            <div class="shutter-img mt-0">
                <a href="#" data-shutter-title="学术会议"><img src="assets/images/mp4jpg.jpg" alt="#"></a>

                <a href="#" data-shutter-title="学术会议"><img src="assets/images/441.jpg" alt="#"></a>
                <a href="#" data-shutter-title="学术会议"><img src="assets/images/a21.png" alt="#"></a>
                <!--<a href="#" data-shutter-title="学术会议"><img src="assets/images/mp5.png" alt="#"></a>-->
            </div>
            <ul class="shutter-btn">
                <li class="prev"></li>
                <li class="next"></li>
            </ul>
            <div class="shutter-desc">
                <p>学术会议</p>
            </div>

        </div>

        <script src="assets/js/velocity.js"></script>
        <script src="assets/js/shutter.js"></script>
        <script>
            $(function () {
                $('.shutter').shutter({
                    shutterW: 1000, // 容器宽度
                    shutterH: 358, // 容器高度
                    isAutoPlay: true, // 是否自动播放
                    playInterval: 3000, // 自动播放时间
                    curDisplay: 0, // 当前显示页
                    fullPage: false // 是否全屏展示
                });
            });
        </script>
    <div class="information">
        <div class="container">
            <div class="mt-3"></div>
            <div class="row">

                <div class="col-sm-9 blog-main" id="conferid">





                </div>

                <div class="col-sm-3 blog-sidebar">
                    <div class="information-l skas">
                        <div class="ddlin">
                            <h3>会议总数</h3>
                            <img src="assets/images/mp_mini.jpg" style="width: 100% ;">
                            <span id="conferNum" style="font-size: 20px; color: red">200</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>
<div id="return-top"><a href="messageBox"><img src="assets/images/alerts.svg"></a></div>

</body>
</html>
