
<html>
<head>

	<title>学术会议网站</title>
	<meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/now-ui-kit.css">
        <script src="assets/js/jquery.min.js"></script>

    <script src="assets/js/jquery.magnific-popup.js" type="text/javascript"></script>

    <script src="assets/js/modernizr.custom.53451.js" type="text/javascript"></script>

	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
	<link rel="stylesheet" type="text/css" href="assets/css/popup-box.css">




	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Sign In And Sign Up Forms  Widget Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

 <script>
     function Login() {
         console.log($('#passwords').val())
         $.ajax({
             type: 'POST',
             url: '/login',
             contenType: 'application/json; charset=utf-8',
             data: {"name": $('#name').val(), "password": $('#passwords').val()},

             dataType: "json",
             success: function (data) {
                 console.log(data);
             },
             error: function () {
             }
         })

     }
     function register() {
         console.log($('#userName').val());
         console.log($('#realName').val());
         console.log($('#institude').val());
         console.log($('#Email').val());
         console.log($("input[name='identity'][checked]").val());
         console.log($('#Password1').val());
         //var testdata = {'userName':"1",'realName':"1","institude":"2",'email':"2@1.com",'identity':1,'password':"1"}

         $.ajax({
             type:'POST',
             url:'/register',
             contenType:'application/json; charset=utf-8',
             //data:testdata,

             data:{"userName":$('#userName').val(),
                 "realName":$('#realName').val(),
                 "institude":$('#institude').val(),
                 "email":$('#Email').val(),
                 "identity":parseInt($("input[name='identity'][checked]").val()),
                 "password":$('#Password1').val()},
             dataType: "json",
             success:function(){
                 alert("发送成功");
             },
             error:function(){
                 alert("发送失败");
             }
         })
     }
     $(document).ready(function() {
         $('.popup-with-zoom-anim').magnificPopup({
             type: 'inline',
             fixedContentPos: false,
             fixedBgPos: true,
             overflowY: 'auto',
             closeBtnInside: true,
             preloader: false,
             midClick: true,
             removalDelay: 300,
             mainClass: 'my-mfp-zoom-in'
         });

     });
</script>
<style>
.bodystyle{
	width:70%;
	margin:0 auto;
}</style>
</head>
<body>
	<h1>学术会议平台</h1>
	<div class="bodystyle" >
		<div class="singnin-new" >
			<form action="#" method="post">
				<input type="text" name="name" id="name" class="form-control name" placeholder="Username" required style="width: 100%">
				<input type="password" name="passwords" id="passwords" class="form-control password" placeholder="Password" required style="width: 100%">
				<ul>
					<li>
						<input type="checkbox" id="brand1" value="">
					</li>
				</ul>

				<div></div>
				<input type="submit" value="登录" onclick="Login()">
			</form>
			<a class="book popup-with-zoom-anim button-isi zoomIn animated" data-wow-delay=".5s" href="#small-dialog"
			style="width: 100%">
				注册</a>


		</div>

	</div>


	<div class="footer-w3l">
		<p class="agileinfo"></p>
	</div>
	<div class="pop-up">
		<div id="small-dialog" class="mfp-hide book-form">
			<h3>用户注册</h3>
			<form method="post" enctype='multipart/form-data' action="/register" >
				<input type="text" id="userName" name="userName" placeholder="用户名" required="" class="form-control" style="width: 100%"/>
				<input type="text" id="realName" name="realName" placeholder="姓名" required="" class="form-control" style="width: 100%"/>
				<input type="text" id= "institude" name="institude" placeholder="所属机构" required="" class="form-control" style="width: 100%"/>
				<input type="text" id="Email" name="Email" placeholder="邮箱" required="" class="form-control" style="width: 100%"/>
				<input type="password" id="Password1" name="Password1" class="password" placeholder="密码" required="" class="form-control" style="width: 100%"/>
				<input type="password" id="Password2"name="Password2" class="password" placeholder="确认密码" required="" class="form-control" style="width: 100%"/>
				<input type="radio" id="identity1" value="0" name="identity" />单位机构
				<input type="radio" id="identity2" checked="checked" value="1" name="identity" />个人用户</span>

                <br></br>
                 <input type="file" name="file">
                <input type="submit" value="注册">
                <!--<form enctype='multipart/form-data' method='POST'>
                    <input type="file" name="file">
                    <input type="submit" value="注册" onclick="register()">
                </form>
				<input type="submit" value="注册" onclick="register()">-->
			</form>
		</div>

	</div>
<body>
</html>
