<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>单位用户信息</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <script src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="js/primary_info.js"></script>
	<script src="assets/js/jquery.cookie.js" type="text/javascript"></script>
    <script src="assets/js/cookie.js" type="text/javascript"></script>
</head>

<body onLoad="onload()">
<nav class="navbar navbar-default" style="background-color: #2b579a">
  <div class="container-fluid" style="color:white">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header" style="margin-left:15%">
      <a class="navbar-brand" href="/index"><font color="white">CONFERENCE</font></a>
    </div>

      
      <ul class="nav navbar-nav navbar-right" style="margin-right:15%">
      <li><a href="/process1"><font color="white">发布会议</font></a></li>
       <li><a href="/primary_info"><font color="white">个人中心</font></a></li>
        <li><a href="javascript:logout()"><font color="white">登出</font></a></li>
      </ul>
      <form class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="搜索会议">
        </div>
        <button type="submit" class="btn btn-default">搜索</button>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div>
	<div  style="width:10%;float:left;margin-left:5%;padding-left: 0;margin-bottom: 20px; box-sizing: border-box;">
        <p href="#" class="list-group-item active">
            企业账户信息
        </p>
  		<button class="list-group-item" onClick="primary_info()">企业基本信息</button>
  		<button class="list-group-item" onclick="conference_manage()">会议管理</button>
  		<button class="list-group-item" onclick="sons_manage()">子账号管理</button>
    </div>
	<div class="showblock" id="showblock" style="margin-left:5%;width:75%;height:auto;float:left;border: 1px solid #DCDCDC;padding:2.5%">
        <div style="margin-top: 5%;block:inline">
            
            <div class="form-group">
               <div class="col-sm-1">
                	<b>机构名称</b>
				</div>
                <div class="col-sm-11">
                    <p id='name'>无</p>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-1">
                	<b>所属机构</b>
				</div>
                <div class="col-sm-11">
                    <p id='organization'>无</p>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-1">
                	<b style="vertical-align:middle">Email</b>
				</div>
                <div class="col-sm-11">
                    <p id='inputEmail3'>无</p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-1">
                	<b style="vertical-align:middle">TEL</b>
				</div>
                <div class="col-sm-11">
                    <p id="inputTEL">无</p>
                </div>
            </div>

        </div>

	</div>
 
</div>
</body>
</html>