<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="assets/images/icon.png">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/now-ui-kit.css">
    <link rel="stylesheet" type="text/css" href="assets/css/home.css">
    <link rel="stylesheet" type="text/css" href="css/simplePagination.css">
    <link rel="stylesheet" type="text/css" href="assets/css/baseTest.css">
    <script src="assets/js/jquery.min.js"></script>
    <script src="/js/searchResult.js" type="text/javascript"></script>
    <script src="assets/js/jquery.cookie.js" type="text/javascript"></script>
    <script src="assets/js/cookie.js" type="text/javascript"></script>
    <script src="assets/js/navibar.js" type="text/javascript"></script>
    <script src="js/jquery.simplePagination.js" type="text/javascript"></script>
    <!--<script src="assets/js/common.js" type="text/javascript"></script>-->
    <link rel="stylesheet" type="text/css" href="assets/css/notification.css">
    <script src="assets/js/notification.js" type="text/javascript"></script>
    
    <title>检索会议</title>
</head>

<script>
    function on_load()
    {
        load_notification();
        getName2();
    }
    
    function getNum(){
        console.log("into getNum");
        $.ajax({

            url:"/getConfernum",
            type:"GET",
            datatype: 'json',
            success:function (data) {

                $("#conferNum").html(data['num'])
            },
            error:function () {
                console.log("error when getConfernum")
            }
        })
    }
    function getName2() {
        name=getUserNameByCookie();
        var key=getParam()["searchKey"];
        if(key==""){
            alert('请输入搜索内容');
            return;
        }

        if(typeof(key)!="undefined")
        {
            $.ajax({
             type:'POST',
             url:'/search/',
             data:{"key":key},
             dataType:'json',
             success:function (data) {
                 console.log('success');
                 console.log(data);

                 //data = JSON.parse(data);
                 $("#conferid").empty();
                 length = data.length;
                 $("#conferNum").html(length);
                 var conferdiv;
                 for (var i = 0;i<length;i++) {
                     id = data[i]["id"];
                     // console.log(id)
                     hrefstr = "/ConferenceIndex?id=" + id;
                     // window.location.href ="/ConferenceIndex?id="+ data.result;
                     conferdiv = " <div class=\"confer shadow \" >\n" +
                         "                        <a href=" + hrefstr + " ><h3>" + data[i]['conferenceName'] + "</h3></a>\n" +
                         "                        <div class=\"c-info\">\n" +
                         "                            <span class=\"mr-2\"><img src=\"assets/images/loc.png\" class=\"loc\">" + data[i]['location'] + "</span>\n" +
                         "                            <span><span><img src=\"assets/images/date.png\" class=\"i-date\">" + data[i]['startTime'] + "</span> - <span>" + data[i]['endTime'] + "</span></span></span>\n" +
                         "                            <p class=\"mb-0 pb-0\"><img src=\"assets/images/department.png\" class=\"i-date\">主办方 <span>" + data[i]['organizer'] + "</span></p>\n" +
                         "                        </div>\n" +
                         "                    </div>"
                     $("#conferid").append(conferdiv);
                 }
             },
             error: function () {
                console.log('error')
             }
             })
        }
        console.log(name);
        if(name){
            $('#login').html(name);
        }

    }

    function search() {
        var key=$('#searchKey').val();
        console.log(document.getElementById('searchKey').value);
        console.log(key);
        $.ajax({
             type:'POST',
             url:'/search/',
             data:{"key":document.getElementById('searchKey').value},
             dataType:'json',
             success:function (data) {
                 console.log('success');
                 console.log(data)
             },
             error: function () {
                console.log('error')
             }
        })
    }

</script>
<body onload="on_load()">
<!--<nav class="navbar navbar-expand-lg " style="background-color: #2b579a">-->
    <!--<div class="container">-->
        <!--<div class="navbar-translate">-->
            <!--<a class="navbar-brand" href="/index">-->
                <!--Conference-->




        <!--<div class="collapse navbar-collapse justify-content-end" id="navigation">-->
                <!--<div style="position: relative;">-->
            <!--<span >-->
                <!--<input type="text" class="search form-control-nav" placeholder="搜索会议" id="searchKey" name="searchKey">-->
                <!--<button class="cha" onclick="search()">搜索</button>-->
            <!--</span>-->
                <!--</div>-->


            <!--</a>-->
        <!--</div>-->
            <!--<ul class="navbar-nav">-->
                <!--<li class="nav-item active">-->
                    <!--<a class="nav-link" href="/index">-->
                        <!--主页-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link" id="conference" onclick="submitConf()">发布会议</a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link" onclick="toMy()">我的</a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link" id="login" onclick="login()" style="text-transform: none">登录</a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link " onclick="logout()">登出</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
<!--</nav>-->
<nav class="new-nav" >
    <div class="container-nav">
        <div style="margin-right: 0.8rem">
            <a class="navbar-brand-new" style="font-size: large;color: white;text-decoration: none" href="/index">Conference</a>
        </div>
        <div>
            <ul class="topnav">
                <li class="icon">
                    <a href="javascript:void(0);" style="font-size:15px;" onclick="myFunction()">☰</a>
                </li>
                <li><a onclick="logout()">登出</a></li>
                <li style="display: none" id="alarm"><a><img src="assets/images/alarm.png" height="16px" width="16px"></a></li>

                <li><a id="login" onclick="login()" style="text-transform: none">登录</a></li>

                <li><a id="myid" onclick="toMy()">我的页面</a></li>
                <li><a id="conference" onclick="submitConf()">发布会议</a></li>
                <li><a class="li-active-zzj" href="/index">主页</a></li>
                <li class="search-li">
                    <div class="nav-search">
                        <form class="nav-form"  >
                        <div style="position: relative;">
                        <span >
                            <input type="text" class="search form-control-nav" placeholder="搜索会议" id="searchKey" name="searchKey">
                            <button class="cha" onclick="search()">搜索</button>
                        </span>
                        </div>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div>

    <div class="information">
        <div class="container">
            <div class="row">

                <div class="col-sm-9 blog-main" id="conferid">

                </div>
                <div class="col-sm-3 blog-sidebar">
                    <div class="information-l skas">
                        <div class="ddlin">
                            <h3>会议总数</h3>
                            <img src="assets/images/mp_mini.jpg" style="width: 100% ;">
                            <span id="conferNum" style="font-size: 20px; color: red">0</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="return-top"><a href="messageBox"><img src="assets/images/alerts.svg"></a></div>


</body>

